
:root {
  --navbar-font-size: 18pt;
  --main-colors-BG: #45ceb7;
  --main-colors-0: #45ceb7;
  --main-colors-1: #48b2d4;
  --main-colors-2: #5e91f5;
  --main-colors-3: #8a8aff;
  --main-colors-4: #ba8cfc;
  --main-colors-5: #e488ed;
  --main-colors-6: #f592b3;
  --main-colors-7: #ffab9a;
  --main-colors-8: #ffc958;
}

/*
@media (min-width: 935px) {
  .list[data-icon=major]::marker {content: url(assets/list_pngs/major.png);}
  .list[data-icon=location]::marker {content: url(assets/list_pngs/location.png);}
  .list[data-icon=school]::marker {content: url(assets/list_pngs/school.png);}
  .list[data-icon=gpa]::marker {content: url(assets/list_pngs/gpa.png);}
}
@media (max-width: 935px) {
  .list[data-icon=major]::marker {content: url(assets/list_pngs/major_small.png);}
  .list[data-icon=location]::marker {content: url(assets/list_pngs/location_small.png);}
  .list[data-icon=school]::marker {content: url(assets/list_pngs/school_small.png);}
  .list[data-icon=gpa]::marker {content: url(assets/list_pngs/gpa_small.png);}
}
*/

html {scroll-behavior: smooth;}
body {background-color: var(--main-colors-BG); margin: 0px;}
